.product__cards__grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 20% 20% 20% 20%;
    @media screen and (max-width:480px) {
    grid-template-columns: 40% 40%;
    }
}

.filter__label{
font-weight: bold;
select{
    margin-left: 15px;
    width: 25vw;
    height: 4vh;
    border-radius: 4px;     
    margin-bottom: 2vh;
    background-color: #fff;
}
}