@import "../Variables/variables.scss";

.header__activated {
    position: relative;
    height: 45vh;
    color: #fff;
    margin-bottom: 2px;
    border-bottom: 5px solid $orangeColor;
  @media screen and (max-width: 480px), screen and (max-height: 700px) {
    width: 180vh;
    height: 40vh;
  }
}

.header__deactivated{
    display:none;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
      height: 40px;
    }
    h2 {
      margin: 9px 0 0 10px;
    }
  @media screen and (max-width: 480px) {
    img {
      width: 100px;
      height: 30px;
    }
  }
}
.header__value-button-block {
    display: flex;
    span {
      font-size: 24px;
      span {
        font-size: 10px;
      }
    }
    a {
      margin-left: 10px;
      width: 100px;
      border-radius: 5px;
      background-image: $orangeGradient;
      color: #fff;
      font-size: 15px;
      text-align: center;
      padding-top: 0.7vh;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover{
        background-image: none;
        background-color: darken($orangeColor, 20%);
    }
  @media screen and (max-width: 480px) {
    display: flex;
    span {
      font-size: 16px;
      span {
        font-size: 8px;
      }
    }
    a {
      margin-left: 10px;
      width: 90px;
      border-radius: 5px;
      background-image: $orangeGradient;
      color: #fff;
      font-size: 10px;
    }
  }
}
.header__content-block {
    width: 55%;
    height: 90%;
    padding: 20px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  @media screen and (max-width: 480px) {
    width: 70%;
    font-size: 10px;
  }
}
